^{:watch-dirs ["example/test" "example/src"]
  :css-dirs ["example/resources/public/css"]
  :auto-testing true
  :extra-main-files {:devcards {:main example.devcards}}}
{:main example.core
 :devcards true}
