/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/test-resources/*-cropped.png
/example/test-resources/kamera/*-cropped.png
/example/.lein-*
/example/resources/public/cljs-out
/resources/public/css
/resources/public/kamera.js