{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        org.clojure/tools.reader {:mvn/version "1.3.2"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        me.raynes/conch {:mvn/version "0.8.0"}
        clj-chrome-devtools/clj-chrome-devtools {:mvn/version "20200423"}
        hickory/hickory {:mvn/version "0.7.1"}
        javax.servlet/javax.servlet-api {:mvn/version "3.1.0"}
        org.eclipse.jetty/jetty-servlet {:mvn/version "9.4.28.v20200408"}
        org.eclipse.jetty/jetty-client {:mvn/version "9.4.28.v20200408"}
        org.eclipse.jetty/jetty-http {:mvn/version "9.4.28.v20200408"}
        org.eclipse.jetty/jetty-io {:mvn/version "9.4.28.v20200408"}
        org.eclipse.jetty/jetty-util {:mvn/version "9.4.28.v20200408"}
        org.eclipse.jetty/jetty-xml {:mvn/version "9.4.28.v20200408"}
        org.eclipse.jetty.websocket/websocket-api {:mvn/version "9.4.28.v20200408"}
        org.eclipse.jetty.websocket/websocket-client {:mvn/version "9.4.28.v20200408"}
        org.eclipse.jetty.websocket/websocket-common {:mvn/version "9.4.28.v20200408"}}
 :paths ["src/clj" "resources"]}
