^{:watch-dirs ["test/cljs" "src/cljs"]
  :css-dirs ["resources/public/css"]
  :open-url false
  :auto-testing true
  :extra-main-files {:devcards {:main kamera.devcards}}}
{:main kamera.app
 :output-to "target/public/kamera.js"
 :devcards true
 :preloads [devtools.preload]
 :external-config {:devtools/config {:features-to-install    [:formatters :hints]
                                     :fn-symbol              "F"
                                     :print-config-overrides true}}}
