@import 'material.min';
@import 'material-icons';

$passed-colour: green;
$failed-colour: red;

* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

#app {
    margin: 24px;

    .title {
        background-color: white;
        border-radius: 8px;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
}

.detail {

}

.mdl-card__title-text i.material-icons {
    width: 36px;
}

.test-result, .normalisation-chain, .mdl-card__supporting-text {
    box-sizing: border-box;
    width: 100%;
}

.passed {
    color: $passed-colour;
}

.failed {
    color: $failed-colour;
}

.floating-menu {
    position: fixed;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    color: white;
    left: 0;
    top: 120px;
    z-index: 100;
    border-radius: 0 16px 16px 0;

    &.expanded {
        background-color: rgb(65, 65, 65);
    }

    .button-container {
        width: 100%;
    }

    .top-button, .list-button {
        cursor: pointer;
        font-size: 0.5em;

        &:hover {
            background-color: rgba(255,255,255,0.3);
        }

        i.material-icons {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: -8px;
            display: block;
            width: 36px;
            text-align: center;
        }

        .description {
            width: 36px;
            text-align: center;
            text-transform: uppercase;
            display: block;
            font-size: 8px;
        }
    }

    .test-list {
        padding: 0 8px 0 8px;
    }

}

.test-list {
    li {
        list-style-type: none;
        &::before {
            display: inline-block;
            font-family: 'Material Icons';
            width: 24px;
            vertical-align: bottom;
        }
    }

    .passed::before {
        content: "check_circle_outline";
    }

    .failed::before {
        content: "cancel";
    }
}


.summary {
    width: 100%;

    .stats {
        text-align: center;
        .headline {
            font-size: 3em;
            line-height: 1.5em;
            font-weight: bold;
        }

        i.material-icons {
            display: inline-block;
            vertical-align: bottom;
            width: 1em;

            margin-right: 4px;
        }

        > div {
            border-right: 1px solid lightgrey;

            &:last-child {
                border-right: none;
            }
        }
    }
}

.test-result {

    .test-name {
        color: inherit;
        text-decoration: none;
    }

    .detail {
        padding: 12px;
    }

    .comparison-titles {
        text-align: center;
        h6 {
            margin: 0;
        }
    }

    .normalisation {
        border-left: 1px solid black;
    }

    .comparison {
        transition: height 0.5s ease-in-out;
        height: initial;

        &.contracted {
            display: none;
        }
    }

    .normalisation, .final-result {
        margin-left: 24px;
        min-height: 24px;

        .step-name:before {
            font-family: 'Material Icons';
            width: 24px;
            vertical-align: bottom;
            margin-left: -9px;
            margin-right: 8px;
            font-size: 18px;
            background-color: white;
        }

        .step-name.expanded:before {
            content: 'remove_circle_outline';
        }

        .step-name.contracted:before {
            content: 'add_circle_outline';
        }

        .step-name {
            line-height: 18px;
            margin: 0;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }
    }

    .comparison {
        width: 100%;
        text-align: center;
        padding: 0 12px 48px 12px;

        .expected, .difference, .actual {
        }

        img {
            border: 1px dashed black;
            max-width: calc(100% - 48px);
        }
    }
}

select {
    border: 1px solid black;
    border-width: 0 0 1px 0;
    background: transparent;
}

label.mdl-switch {
    width: auto;
}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
  display: none;

  &.visible {
      display: block;
  }
}

.gauge {
    max-height: 200px;
}
