@import 'material.min';
@import 'material-icons';

$passed-colour: green;
$failed-colour: red;

body {
    background-color: lightgrey;
}

#app {
    margin: 24px;

    .title {
        background-color: white;
        border-radius: 8px;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
}

.detail {

}

.mdl-card__title-text i.material-icons {
    width: 36px;
}

.test-result, .normalisation-chain, .mdl-card__supporting-text {
    box-sizing: border-box;
    width: 100%;
}

.passed {
    color: $passed-colour;
}

.failed {
    color: $failed-colour;
}

.summary {
    width: 100%;

    .stats {
        text-align: center;
        .headline {
            font-size: 3em;
            line-height: 1.5em;
            font-weight: bold;
        }

        i.material-icons {
            display: inline-block;
            vertical-align: bottom;
            width: 1em;

            margin-right: 4px;
        }

        > div {
            border-right: 1px solid lightgrey;

            &:last-child {
                border-right: none;
            }
        }
    }

    .test-list {

        li {
            list-style-type: none;
            &::before {
                display: inline-block;
                font-family: 'Material Icons';
                width: 24px;
                vertical-align: bottom;
            }
        }

        .passed::before {
            content: "check_circle_outline";
        }

        .failed::before {
            content: "cancel";
        }


    }
}

.test-result {

    .test-name {
        color: inherit;
        text-decoration: none;
    }

    .detail {
        padding: 12px;
    }

    .comparison-titles {
        text-align: center;
        h6 {
            margin: 0;
        }
    }

    .normalisation {
        border-left: 1px solid black;
    }

    .comparison {
        transition: height 0.5s ease-in-out;
        height: initial;

        &.contracted {
            display: none;
        }
    }

    .normalisation, .final-result {
        margin-left: 24px;
        min-height: 24px;

        .step-name:before {
            font-family: 'Material Icons';
            width: 24px;
            vertical-align: bottom;
            margin-left: -9px;
            margin-right: 8px;
            font-size: 18px;
            background-color: white;
        }

        .step-name.expanded:before {
            content: 'remove_circle_outline';
        }

        .step-name.contracted:before {
            content: 'add_circle_outline';
        }

        .step-name {
            line-height: 18px;
            margin: 0;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }
    }

    .comparison {
        width: 100%;
        text-align: center;
        padding: 0 12px 48px 12px;

        .expected, .difference, .actual {
        }

        img {
            border: 1px dashed black;
            max-width: calc(100% - 48px);
        }
    }
}
